<clr-button-group class="btn-group btn-primary">
  <clr-button class="btn" (click)="add()">ADD NEW JOB</clr-button>
  <clr-button class="btn" (click)="load()">REFRESH</clr-button>
</clr-button-group>
<app-jobs-count></app-jobs-count>

<div>
  <div *ngFor="let job of (jobs | async) let idx = index" class="row job">
    <a routerLink="/job/{{job.token}}">GO</a>
    <div>{{job.key}}</div>
    <div class="toggle-switch">
      <input type="checkbox" id="toggle_{{idx}}" checked>
      <label for="toggle_{{idx}}"></label>
    </div>
  </div>
</div>
