<clr-button-group class="btn-group btn-primary">
  <clr-button class="btn" (click)="add()">ADD JOB</clr-button>
  <clr-button class="btn" (click)="loadNew()">GET LATEST</clr-button>
</clr-button-group>
<app-tasks-count></app-tasks-count>

<div>
  <div *ngFor="let task of (tasks | async) let idx = index" class="row task">
    <a routerLink="/task/{{task.token}}">GO</a>
    <div>{{task.key}}</div>
    <div class="toggle-switch">
      <input type="checkbox" id="toggle_{{idx}}" checked>
      <label for="toggle_{{idx}}"></label>
    </div>
  </div>
</div>
