#triggers-component {
  margin-top: 1em;

  .trigger {
    display: flex;
    align-items: center;

    .trigger-prop {
      font-weight: 600;
      &:after {
        content: ":"
      }
    }

    .clickable {
      padding: 1em;
      border-bottom: 1px dotted #CCC;
      border-radius: 3px;
      flex-grow: 1;

      &:hover {
        background-color: #EEE;
        cursor: pointer;
      }
    }

    .toggle-switch {
      margin-left: 1em;
    }
  }
}
