body {
  clr-main-container {
    transition: 0.15s filter linear;
  }
  &.no-scrolling {
    clr-main-container {
      filter: blur(2px);
    }
  }
  app-modals {
    position: absolute;
  }

  .btn:focus, button:focus {
    outline: none;
  }
}

// Animations
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
