#modals-component {
  position: absolute;

  #trigger-preview-modal {
    .modal {
      align-items: flex-end;
      padding: 0;

      .modal-content {
        height: 80vh;
        border-radius: 3px 0 0 3px;
        animation-name: slideInRight;
        animation-duration: 0.2s;
        display: flex;
        flex-direction: column;

        .modal-header {
          display: none;
        }
        .modal-body {
          flex-grow: 1;
          overflow-y: auto;
        }
      }
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
