<div id="modals-component">
  <clr-modal [(clrModalOpen)]="triggerAddNew_open" [clrModalSize]="'lg'" (clrModalOpenChange)="modalStateChange($event, 'triggerAddNew_open')">
    <h3 class="modal-title">Add New Trigger</h3>
    <div class="modal-body">
      <form>
        <section class="form-block">
          <div class="form-group">
            <label for="aForm_1">This is a form field</label>
            <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
          </div>
          <div class="form-group">
            <label for="aForm_2">Another form field</label>
            <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
          </div>
          <div class="form-group">
            <label for="aForm_3">Job Key</label>
            <div class="select">
              <select id="aForm_3">
                <option>workflow:scheduleUndeliveredMessagesJob</option>
                <option>workflow:scheduleMessagesJob</option>
                <option>workflow:scheduleRustJob</option>
                <option>workflow:scheduleResponseMessagesJob</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="aForm_4">Description</label>
            <textarea id="aForm_4" rows="4"></textarea>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modalStateChange(false, 'triggerAddNew_open')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modalStateChange(false, 'triggerAddNew_open')">ADD</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="triggerPreview_open" id="trigger-preview-modal" [clrModalSkipAnimation]="true" [clrModalSize]="'lg'" (clrModalOpenChange)="modalStateChange($event, 'triggerPreview_open')">
    <div class="modal-body">
      PREVIEW
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modalStateChange(false, 'triggerPreview_open')">Close</button>
      <button type="button" class="btn btn-primary" (click)="modalStateChange(false, 'triggerPreview_open')">SAVE</button>
    </div>
  </clr-modal>
</div>
